{% block body %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
<nav>
    <a href="/home">
        <img src="../images/logoToyota.png">
    </a>
    {# <a href="/race">Prochaine Course</a> #}
    <a href="/admin" >Login Admin</a>
    <a href="/pilotes">Inscription Pilote</a>
</nav>
<div>
{{ form(form) }}
</div>
{% endblock %}
