

{% block body %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
<title>Admin</title>

<nav>
<img src="../images/logoToyota.png" />
    <a href="" >Login Admin</a>
    <a href="/pilotes">Inscription Pilote</a>
</nav>

<div class="mainDiv">
ADMIN PAGE
</div>

{% endblock %}

